@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.box {
    display: flex;
    position: absolute;
    top: 30%;
    left: 30%;
    border-radius: 10px;
    background-color: wheat;
    flex-direction: column;
    width: 40%;
    padding: 30px;
    /* height: 400px; */
}

input {
    display: flex;
    border-radius: 5px;
    outline: none;
    width: 50%;
}

label {
    margin: 20px;
    margin-left: 0;
}

button {
    margin: 20px;
    margin-left: 0;
    width: 10%;
}
.inp2 {
    color: green;
}
